<div>
	<h1 class="sb-headline-1">Herzlich Willkommen</h1>
</div>
<div>
	<h2 class="sb-headline-2">Agenda für heute</h2>
</div>
<p-accordion [activeIndex]="0">
	<p-accordionTab header="Die Geschichte von PrimeNG">
		<ul>
			<li>Es war ein mal Primefaces</li>
			<li>Dann PrimeNG</li>
			<li>Dann PrimeReact</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Angular Material vs. PrimeNG">
		<ul>
			<li>Der Irrglaube Material ist Standard von Angular</li>
			<li>Jeder der PrimeNG kennt und Matieral ....</li>
			<li>Schnell und einfach aber effektiv</li>
			<li>Dokumentation</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Eine Übersicht der Komponenten">
		<ul>
			<li>Von Forms bis Accordion</li>
			<li>Tables</li>
			<li>Charts</li>
			<li>Galaria</li>
			<li>Terminal</li>
			<li>Drag & Drop</li>
			<li>Theming</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Eine Übersicht über Primeflex">
		<ul>
			<li>Wie CSS leicht gemacht</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Kurze Übersicht über meine Seite">
		<ul>
			<li>Was habe ich so alles gemacht</li>
			<li>Theming</li>
			<li>Custom Styling mit Reset</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Mögliche weitere Themen">
		<ul>
			<li>PDF drucken mit Angular</li>
			<li>15 Zeilen Code anstatt 300 mit Templating</li>
			<li>
				Directiven als Generator zum Herstellen von kompletten Seiten als JSON
			</li>
			<li>Angular SSR jetzt Suchmaschinenfreundlich</li>
		</ul>
	</p-accordionTab>
	<p-accordionTab header="Fragerunde">
		<ul>
			<li>Was ihr noch über PrimeNG wissen wollte</li>
			<li>
				Was ihr über Angular wissen wollt aber euch nicht getraut habt zu fragen
			</li>
			<li>Auf wiedersehen</li>
		</ul>
	</p-accordionTab>
</p-accordion>
