.thru-wall {
	background-image: url(/img/Klaus_1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


.b-full-height {
	height: 100%;
}

.b-half-height {
	height: 50%;
}

app-box-variation {
	display: block;
	height: 100%;
}
