.sb-headline {
	strong {
		background: -webkit-linear-gradient(0deg,#40f8c1 5%,#d0ff82 85%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: inherit!important;
	}
}
