<!-- app.component.html -->
<div class="flex flex-wrap">
	<div class="w-full pt-0 pb-3">
		<p-card header="Simple Card Fullscreen">
			<p class="m-0">Lorem ipsum dolor sit amet...</p>
		</p-card>
	</div>
</div>

<!-- PrimeNG Cards -->
<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 1" subheader="Subtitle">
			<p>Content of Card 1</p>
		</p-card>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 2" subheader="Subtitle">
			<p>Content of Card 2</p>
		</p-card>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 3" subheader="Subtitle">
			<p>Content of Card 3</p>
		</p-card>
	</div>
</div>

<!-- bunte Boxen -->
<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-green p-4">
			<p>tolle box</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-blue p-4">
			<p>tolle box</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-red p-4">
			<p>tolle box</p>
		</div>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-0 p-4">
			<p>Shadow Box 0</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-1 p-4">
			<p>Shadow Box 1</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-2 p-4">
			<p>Shadow Box 2</p>
		</div>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-3 p-4">
			<p>Shadow Box 3</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-4 p-4">
			<p>Shadow Box 4</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-5 p-4">
			<p>Shadow Box 5</p>
		</div>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-6 p-4">
			<p>Shadow Box 6</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-7 p-4">
			<p>Shadow Box 7</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-shadow-8 p-4">
			<p>Shadow Box 8</p>
		</div>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-0 p-4">
			<p>Steel Box 0</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-1 p-4">
			<p>Steel Box 1</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-2 p-4">
			<p>Steel Box 2</p>
		</div>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-3 p-4">
			<p>Steel Box 3</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-4 p-4">
			<p>Steel Box 4</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="steelbox-5 p-4">
			<p>Steel Box 5</p>
		</div>
	</div>
</div>
