<!-- app.component.html -->
<div class="flex flex-wrap">
	<div class="w-full pt-0 pb-3">
		<p-card header="Simple Card Fullscreen">
			<p class="m-0">Lorem ipsum dolor sit amet...</p>
		</p-card>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 1" subheader="Subtitle">
			<p>Content of Card 1</p>
		</p-card>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 2" subheader="Subtitle">
			<p>Content of Card 2</p>
		</p-card>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<p-card header="Card 3" subheader="Subtitle">
			<p>Content of Card 3</p>
		</p-card>
	</div>
</div>

<div class="flex flex-wrap">
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-green">
			<p>tolle box</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-blue">
			<p>tolle box</p>
		</div>
	</div>
	<div class="card-container w-full md:w-6 lg:w-4 pt-0 pb-3">
		<div class="box-grad-red">
			<p>tolle box</p>
		</div>
	</div>
</div>
